<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegServlet</servlet-name>
        <servlet-class>RegServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reg</servlet-name>
        <servlet-class>reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkpassword</servlet-name>
        <servlet-class>checkpassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>private1</servlet-name>
        <servlet-class>private1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginLocal</servlet-name>
        <servlet-class>loginLocal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>acceptmembers</servlet-name>
        <servlet-class>acceptmembers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>localLogin</servlet-name>
        <servlet-class>localLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertAdmin</servlet-name>
        <servlet-class>insertAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginAdmin</servlet-name>
        <servlet-class>loginAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedback</servlet-name>
        <servlet-class>feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertpostservlet</servlet-name>
        <servlet-class>insertpostservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegServlet</servlet-name>
        <url-pattern>/RegServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reg</servlet-name>
        <url-pattern>/reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkpassword</servlet-name>
        <url-pattern>/checkpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>private1</servlet-name>
        <url-pattern>/private1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginLocal</servlet-name>
        <url-pattern>/loginLocal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>acceptmembers</servlet-name>
        <url-pattern>/acceptmembers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>localLogin</servlet-name>
        <url-pattern>/localLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertAdmin</servlet-name>
        <url-pattern>/insertAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginAdmin</servlet-name>
        <url-pattern>/loginAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedback</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertpostservlet</servlet-name>
        <url-pattern>/insertpostservlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
